ePortal.MailService/ePortal.MailService.API/Service References/MailService/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ePortal.MailService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ePortal.MailService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailModel" nillable="true" type="tns:MailModel" />
</xs:schema>